// Breadcrumb s1 - recomended to be used inside .navbar-s2
$linkColorHover: darken($jb-dark-grey, 5%);
$linkColorLast: lighten($jb-dark-grey, 5%);

.breadcrumb {
    line-height: 30px;
    color: $jb-dark-grey;
    margin-bottom: 1px;

    ul {
        margin: 0;

        .li-item {
            float: left;
        }
    }

    ul li {
        &:first-of-type .item {
            padding-left: 15px;

            &:before {
                display: none;
            }
        }

        &:hover .item {
            background: $linkColorHover;
            color: #fff;
            text-decoration: none;
            @extend .z-depth-1;

            &:before {
                border-color: $linkColorHover;
                border-left-color: transparent;
            }

            &:after {
                border-left-color: $linkColorHover;
            }
        }

        &:last-of-type .item {
            background: $linkColorLast;
            color: #fff;
            text-decoration: none;
            cursor: default;

            &:before {
                border-color: $linkColorLast;
                border-left-color: transparent;
            }

            &:after {
                border-left-color: $linkColorLast;
            }
        }

        &:last-of-type:hover .item {
            @extend .z-depth-0;
        }

    }

    .item {
        display: flex;
        @include display-flex;
        @include align-items(center);
        @include flex-direction(row-reverse);
        float: left;
        background: $jb-dark-grey;
        padding-right: 10px;
        height: 30px;
        margin-right: 31px;
        position: relative;
        text-decoration: none;
        color: $jb-light-blue;
        margin-top: 1px;
        margin-bottom: 1px;

        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: -30px;
            border: 15px solid transparent;
            border-color: $jb-dark-grey;
            border-left-color: transparent;
        }

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: -30px;
            border: 15px solid transparent;
            border-left-color: $jb-dark-grey;
        }
    }

    .secondary-item {
        margin-right: -2px;
    }

    .secondary-item .submenu {
        margin-left: -30px;
    }

    .submenu {
        position: absolute;
        background: $jb-dark-grey;
        margin-top: 32px;
        z-index: 1;
        transform: scaleY(0.4) scaleX(0.4);
        transition: .1s ease-out;
        opacity: 0;


        &.active {
	    transform: scaleY(1) scaleX(1);
            opacity: 100;
        }

        li {
            display: block;
            padding-left: 30px;
            padding-right: 30px;

            &:hover {
                background: $linkColorHover;
            }

            a {
                color: $jb-light-blue;
            }
        }
    }
}

// Breadcrumbs s1 links
.breadcrumb-links {
    padding-right: 20px;
}

a {
    color: $jb-dark-grey;
}

.breadcrumb-links {
    @include display-flex;
    @include flex-wrap(wrap);
    margin-top: 7px;
    margin-bottom: 7px;

    .item {
        padding-left: 10px;
        padding-right: 10px;

        &.active {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
