.circle {
    width: 150px;
    height: 150px;
}

/* entire container, keeps perspective */
.circle-container, .circle-container-no-flip {
    perspective: 1000;
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: auto;

    .light-description {
        font-size: 20px;
        font-weight: bold;
    }

    .circle-details {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
    }

    .base {
        margin-bottom: 10px;
        cursor: auto;
    }
}
/* flip the pane when hovered */
.circle-container:hover .circle, .circle-container.hover .circle {
    transform: rotateY(180deg);
}
.circle-front, .circle-back {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circle-front p, .circle-back p {
    font-size: 23px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle-front .type {
    flex: 0;
}

.circle-readme {
    position: absolute;
    font-size: 14px;
    color: white;
    top: 110px;
    left: 40px;
    text-decoration: underline;
}

.circle-builder, .circle-deployment, .circle-settings {
    font-size: 15px;
    margin: 5px;
}
.circle-builder:hover, .circle-deployment:hover, .circle-settings:hover {
    text-decoration: underline;
}

/* flip speed goes here */
.circle {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.circle-front, .circle-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #5a6979;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
    text-align: center;
    color: #5a6979;
}

/* front pane, placed above back */
.circle-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.circle-back {
    transform: rotateY(180deg);
}

.circle-item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $jb-dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @extend .z-depth-1;
    transition: .2s ease-out;

    &:hover {
        background: lighten($jb-dark-grey, 4%);
        @extend .z-depth-2;
    }
}

.circle-list-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $jb-dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @extend .z-depth-1;
    transition: .2s ease-out;

    &:hover {
        background: lighten($jb-dark-grey, 4%);
        @extend .z-depth-2;
    }
}

.circle-item span, .circle-list-item, .circle-submenu {
    color: $jb-light-blue;
}

.options-container {
    margin-top: 15px;
    @include display-flex;
    @include justify-content(center);
    visibility: hidden;
    &.active {
        visibility: visible;
    }
}

.circle-area {
    @include display-flex;
    @include align-items(center);
    @include flex-direction(column);
}

.circle-submenu {
    transform: scaleY(0.4) scaleX(0.4) translateY(-40px) translateX(-40px); opacity: 0;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @extend .z-depth-1;
    transition: .2s ease-out;
    opacity: 0;
    @extend .pointer;

    &:hover {
        @extend .z-depth-2;
    }

    span {
        font-size: 26px;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.circle-submenu.active {
    transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); opacity: 100;
}

.submenu-container {
    width: 50px;
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);

    .description {
        margin-top: 12px;
        background: $jb-medium-blue;
        border-radius: 20px;
	padding: 2px 10px;
	font-weight: bold;
        opacity: 0;
        @extend .z-depth-1;
        transition: .2s ease-out;

        &.active {
            opacity: 100;
        }
    }
}

.versions-container {
    .circle-list-item {

        span {
            font-size: 55px;
            color: $jb-medium-blue;
        }

        span.octicon-triangle-right {
            margin-left: 9px;
        }
    }
}
