// variables
$main-background: $jb-light-blue;
$side-bar-color: $jb-medium-blue;

.file-editor {
    flex: 1;
    display: flex;
    background: $main-background;
    padding-top: 10px;
}

.side-bar {
    flex: 1;
    min-width: 150px;
    max-width: 230px;
}

.file-edit-container {
    flex: 6;

    @include display-flex;
    flex-direction: column;

    background: $side-bar-color;
    margin-right: 10px;
    margin-bottom: 10px;
    @extend .z-depth-1;


    .file-edit {
        flex: 1;
    }

    .edit-footer {
        background: $main-background;
        display: flex;
        @include justify-content(flex-end);
        padding-right: 5px;
        padding-left: 5px;

        .item {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
