footer {
    background-color: #9ca2b8;
    color: #212121;
}

.footer-links {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 48px;
    @include display-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (max-width: $break-sm) {
        text-align: center;
    }
}

.footer-column {
    @include display-flex;
    @include flex-direction(column);
    margin-top: 50px;
    @media screen and (max-width: $break-sm) {
        width: 33%;
    }
    .primary {
        font-weight: 800;
    }

    a {
        font-size: $font-size-s4;
        color: #212121;
    }
}

.logos-section {
    width: 100%;
    @include align-items(center);
    text-align: center;
}

.footer-gray-logo {
    width: 100%;
    height: 100%;
    max-width: 155px;
    margin: 0 auto;
    @media screen and (max-width: $break-sm) {
        margin-right: 0;
        padding-bottom: 40px;
    }
}

.github-logo, .bitbucket-logo, .nodejs-logo, .google-logo, .amazon-logo, .mongodb-logo, .couchdb-logo {
    background: url("/!/images/sprites/sprite-partners.png") no-repeat;
    height: 34px;
    margin-right: 5px;
    @include filter(grayscale(100%));
    opacity: .7;
    display: inline-block;
}

.github-logo {
    width: 117px;
    background-position-y: -114px;
}

.bitbucket-logo {
    width: 135px;
    background-position-y: -38px;
}

.nodejs-logo {
    width: 114px;
    background-position-y: -228px;
}

.google-logo {
    width: 210px;
    background-position-y: -152px;
}

.amazon-logo {
    width: 91px;
}

.mongodb-logo {
    width: 97px;
    background-position-y: -190px;
}

.couchdb-logo {
    width: 122px;
    background-position-y: -76px;
}
