.section-content {
    @media screen and (max-width: $break-sm) {
        padding: 0;
    }
}

.card-description {
    @include align-items(center);
    @include display-flex;
    @include flex-wrap(wrap);
    img {
        margin-left: 15px;
        margin-right: 15px;
        width: 42px;
        height: 42px;
    }

}

.card-shape {
    width: 222px;
    height: 150px;
    background: linear-gradient(to bottom, rgba(128,128,128,1) 0%, rgba(59,59,59,1) 49%, rgba(48,48,48,1) 68%, rgba(31,31,31,1) 100%);
    color: white;
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;
    margin-right: 30px;

    .card-overlay {
        width: 246px;
        height: 150px;
        background: white;
        opacity: .05;
        position: absolute;
        transform: rotateZ(-13deg) translateY(-95px);
    }

    .card-details {
        @include display-flex;
        @include align-items(center);
        @include justify-content(space-between);
    }

    .card-details-container {
        padding-right: 14px;
        padding-left: 14px;
    }

    .card-number {
        padding-top: 72px;
        margin-bottom: 7px;
        text-align: right;
        font-size: 1.5rem;
    }

}

.manage-card {
    flex: 1;
}

.card-description-container {
    margin-bottom: 25px;
    div:nth-child(1) {
        font-size: 1.3rem;
    }
}

.material-form {

    .table-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .profile-circle {
        @extend .z-depth-1;
    }

    .sub-icon:hover {
        color: $jb-dark-grey;
        transition: all .2s ease-out ;
        @extend .pointer;
    }

    label {
        // color: $jb-dark-grey;
    }

    .input-field {
        label {
            // color: $jb-dark-grey;
        }
    }

    .collection {
        .registered-emails {
            cursor: pointer;
        }
    }


    .section {
        border-top: 1px solid rgba(0,0,0,0.12);
        margin-top: 64px;
        padding-top: 64px;

        @media screen and (max-width: $break-sm) {
            margin-top: 24px;
        }

        .title {
            font-size: 36px;
            @media screen and (max-width: $break-sm) {
                font-size: 24px;
            }
        }

        .description {
            font-size: 16px;
            padding-bottom: 20px;
        }

        .profile-picture {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            @include display-flex;
            @include align-items(center);
            cursor: pointer;

            .mdi {
                font-size: 50px;
                transition: .2s all ease-out;
            }

            &.active .mdi {
                transform: rotateZ(90deg);
            }
        }
    }

    .section:first-child {
        border-top: 0;
        padding-top: 0;
    }

    .section:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.12);
        margin-bottom: 64px;
        padding-bottom: 64px;
    }

    .collection-item {
        background: $jb-medium-blue;

        .active {
            left: 0;
        }

        .users-list-single {
            margin-bottom: 40px;
        }

        .users-list, .users-list-single {
            width: 100%;

            li {
                @include display-flex;
                @include align-items(center);
                flex-wrap: wrap;
                border-bottom: 1px solid #D7D9DD;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            li:nth-child(1) {
                padding-top: 0;
            }

            .invitation-container {
                flex: 1;
            }

            .invitation-title {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;

                div:nth-child(1) {
                    font-size: 2em;
                    padding-bottom: 15px;
                }
            }

            .panels-container {
                @include display-flex;
                @include justify-content(center);
                flex-wrap: wrap;
                flex: 1;

                .res-panel {
                    @media screen and (max-width: $break-sm) {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }

                .panel:nth-child(1) {
                    margin-right: 10px;
                    @extend .res-panel;
                }

                .panel:nth-child(2) {
                    margin-left: 10px;
                    @extend .res-panel;

                    @media screen and (max-width: $break-xs) {
                        margin-top: 20px !important;
                    }
                }

                .panel.active {
                    @extend .z-depth-1;
                    border-color: $j-blue;
                }

                .panel {
                    flex: 1;
                    text-align: center;
                    border: 1px solid darken($jb-medium-blue, 10%);
                    max-width: 340px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    padding-right: 15px;
                    padding-left: 15px;
                    cursor: pointer;
                    transition: all .1s ease-out;
                    min-width: 241px;
                    @extend .res-panel;

                    .panel-title {
                        font-weight: bold;
                        font-size: 1.3em;
                    }
                }
            }

            .details {
                flex: 1;
                @include align-items(center);

                @include display-flex;
                img {
                    margin-left: 15px;
                    margin-right: 15px;
                    width: 42px;
                    height: 42px;
                }
            }

            .role {
                @include display-flex;
                margin-right: 15px;
                flex: 1;
                text-align: right;
                position: relative;
                padding-bottom: 0;
            }
        }


        .billing-profile {
            width: inherit;
            img {
                margin-left: 0 !important;
            }
        }

        .flex-input-field {
            @include display-flex;
            @include justify-content(space-between);
            @include align-items(center);
            flex-wrap: wrap;

            #search1 {
                min-width: 100px;
            }

            .search-field {
                flex: 1;
                margin-right: 20px;

            }

            .invite-member {
                text-align: right;

                @media screen and (max-width: $break-sm) {
                }
            }
        }

        .mdi {
            font-size: 20px;
            transition: all .2s ease-out;

            &.rotate {
                transform: rotateZ(90deg);
            }
        }
    }

    .pointer {
        cursor: pointer;
    }


    .status-text {
        font-size: 18px;
    }

    .list-of-items {
        .item-title, .active {
            font-weight: bold;
        }

        .items {
            color: #737373;
        }

        .item-cont {
            @include display-flex();
            @include align-items(center);
            @include justify-content(space-between);
            padding-bottom: 17px;

            .email {
                flex: 1;
            }

            .mdi-delete {
                cursor: pointer;
            }

            label {
                position: relative;
                top: 0;
                left: 0;
            }

            .switch {
                margin-top: -3px;
            }

            .input-field {
                margin-top: 0;
            }
        }
    }
}

// 3d form
// ==========

.signup-viewport {
    @include perspective(10000000px);
    position: relative;
    width: 100%;
}

.signup-viewport.front-height {
    height: 455px;
    transition: all 1s linear;
}

.signup-viewport.right-height {
    height: 370px;
    transition: all 1s linear;
}

.signup-viewport.back-height {
    height: 650px;
    transition: all 1s linear;
}

.signup-viewport.left-height {
    height: 410px;
    transition: all 1s linear;
}

.cube {
    width: 100%;
    position: relative;
    margin: 0 auto;
    @include transform-style(preserve-3D);
    @include rotateY(0deg);
    @include transition(all 1s);

    .front {
        @include transform(rotateY(-90deg) translateX(50%) rotateY(90deg));
    }

    .back {
        @include transform(rotateY(90deg) translateX(50%) rotateY(90deg));
    }

    .left {
        @include transform(translateX(-50%) rotateY(-90deg));
    }

    .right {
        @include transform(translateX(50%) rotateY(90deg));
    }

    .bottom {
        @include transform(translateY(0) rotateX(90deg));
    }

    .top {
        @include transform(translateY(-50%) rotateX(90deg));
    }

    .front, .back, .left, .right, .top, .bottom {
        width: 100%;
        position: absolute;
        opacity: 1;
        border: 1px solid rgb(225, 225, 225);
        @include backface-visibility(hidden);
    }

    .side-container {
        padding: 20px;
    }

}

.left p:first-of-type {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.top-animation {
    @include transform(translateY(200px) rotateZ(-180deg) rotateY(-180deg) rotateX(90deg));
}

.left-animation {
    @include transform(rotateY(-270deg));
}

.right-animation {
    @include transform(rotateY(-90deg));
}

.back-animation {
    @include transform(rotateY(-180deg));
}

.login-form {
    margin-top: 100px !important;
    border: 1px solid #e1e1e1;
}

.payment-cards {
    padding-left: 0;
}

.payment-cards li {
    font-size: 10px; // <=== Edit this to change the size of cards
    display: inline-block;
    margin-right: .25em;
    background-image: url(http://imgh.us/payment-cards2.svg);
    background-size: 23.077em;
    background-repeat: no-repeat;
    height: 2.8em;
    width: 4.3em;
    display: inline-block;
}

.card-type.payment {
    margin-left: 40px;

    @media screen and (max-width: $break-xs) {
        padding-top: 10px;
        margin-left: 0;
    }
}

.visa {
    background-position: -.07em -.142em;
}

.mastercard {
    background-position: -4.756em -.142em;
}

.amex {
    background-position: -9.44em -.142em;
}

.discover {
    background-position: -14.13em -.142em;
}

.paypal {
    background-position: -18.79em -.142em;
}

.search-field {
    @include display-flex;
    @include align-items(center);

    input {
        padding-left: 10px;
        margin-left: 15px;
    }
}

.input-field {
    .mdi-close {
        cursor: pointer;
    }
}

// Vertical collections
.horizontal-collection {
    @include display-flex;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #f3f6fa;
    overflow: visible;

    li {
        padding: 0 !important;
    }

    a {
        position: relative;
        display: block;
        background-color: $jb-medium-blue;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .collection-item {
        margin-bottom: -4px;
    }

    .collection-item:last-child {
        border-top: none;
        border-bottom: none;
    }

    .collection-item:nth-last-child(2) {
        border-bottom: none;
    }

    .collection-item.active {
        background: $jb-medium-blue;
        color: $j-blue;
        border-top: 2px solid darken($j-blue, 4%);
        border-left: 2px solid #f3f6fa;
        border-right: 2px solid #f3f6fa;
        border-bottom: 0;
    }

}

.horizontal-collection-container {
    margin-top: 0;
    border-left: 2px solid #f3f6fa;
    border-right: 2px solid #f3f6fa;
    border-bottom: 2px solid #f3f6fa;
}
