.container-fluid {
    @media screen and (max-width: $break-sm) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.material-form {

    .table-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .profile-circle {
        @extend .z-depth-1;
    }

    .sub-icon:hover {
        color: $jb-dark-grey;
        transition: all .2s ease-out ;
        @extend .pointer;
    }

    label {
        color: $jb-dark-grey;
    }

    .input-field {
        label {
            color: $jb-dark-grey;
        }
    }

    .collection {
        .registered-emails {
            cursor: pointer;
        }
    }

    .section {
        border-top: 1px solid rgba(0,0,0,0.12);
        margin-top: 64px;
        padding-top: 64px;


        .profile-picture {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }

        .title-container {
            @include display-flex;
            @include align-items(center);
            cursor: pointer;

            .mdi {
                font-size: 50px;
                transition: .2s all ease-out;
            }

            &.active .mdi {
                transform: rotateZ(90deg);
            }
        }
    }

    .section:first-child {
        border-top: 0;
        padding-top: 0;
    }

    .section:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.12);
        margin-bottom: 64px;
        padding-bottom: 64px;
    }

    .collection-item {
        background: $jb-medium-blue;

        .active {
            left: 0;
        }

        .flex-input-field {
            @include display-flex;
            @include justify-content(space-between);
            @include align-items(center);
        }

        .mdi {
            font-size: 25px;
            transition: all .2s ease-out;

            &.rotate {
                transform: rotateZ(90deg);
            }
        }
    }

    .pointer {
        cursor: pointer;
    }

    .title {
        font-size: 36px;
        @media screen and (max-width: $break-md) {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    .description {
        font-size: 16px;
        @media screen and (max-width: $break-md) {
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .status-text {
        font-size: 18px;
    }

    .list-of-items {
        .item-title, .active {
            font-weight: bold;
        }

        .items {
            color: #737373;
        }

        .item-cont {
            @include display-flex();
            @include align-items(center);
            @include justify-content(space-between);
            padding-bottom: 17px;

            .email {
                flex: 1;
            }

            .trash {
                cursor: pointer;
            }

            label {
                position: relative;
                top: 0;
                left: 0;
            }

            .switch {
                margin-top: -3px;
            }
        }
    }
}

// 3d form
// ==========

.signup-viewport {
    @include perspective(10000000px);
    position: relative;
    width: 100%;
}

.signup-viewport.front-height {
    height: 455px;
    transition: all 1s linear;
}

.signup-viewport.right-height {
    height: 370px;
    transition: all 1s linear;
}

.signup-viewport.back-height {
    height: 650px;
    transition: all 1s linear;
}

.signup-viewport.left-height {
    height: 410px;
    transition: all 1s linear;
}

.cube {
    width: 100%;
    position: relative;
    margin: 0 auto;
    @include transform-style(preserve-3D);
    @include rotateY(0deg);
    @include transition(all 1s);

    .front {
        @include transform(rotateY(-90deg) translateX(50%) rotateY(90deg));
    }

    .back {
        @include transform(rotateY(90deg) translateX(50%) rotateY(90deg));
    }

    .left {
        @include transform(translateX(-50%) rotateY(-90deg));
    }

    .right {
        @include transform(translateX(50%) rotateY(90deg));
    }

    .bottom {
        @include transform(translateY(0) rotateX(90deg));
    }

    .top {
        @include transform(translateY(-50%) rotateX(90deg));
    }

    .front, .back, .left, .right, .top, .bottom {
        width: 100%;
        position: absolute;
        opacity: 1;
        border: 1px solid rgb(225, 225, 225);
        @include backface-visibility(hidden);
    }

    .side-container {
        padding: 20px;
    }

}

.left p:first-of-type {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.top-animation {
    @include transform(translateY(200px) rotateZ(-180deg) rotateY(-180deg) rotateX(90deg));
}

.left-animation {
    @include transform(rotateY(-270deg));
}

.right-animation {
    @include transform(rotateY(-90deg));
}

.back-animation {
    @include transform(rotateY(-180deg));
}

.login-form {
    margin-top: 100px !important;
    border: 1px solid #e1e1e1;
}

.payment-cards {
    padding-left: 0;
}

.payment-cards li {
    font-size: 10px; // <=== Edit this to change the size of cards
    display: inline-block;
    margin-right: .25em;
    background-image: url(http://imgh.us/payment-cards2.svg);
    background-size: 23.077em;
    background-repeat: no-repeat;
    height: 2.8em;
    width: 4.3em;
    display: inline-block;
}

.visa {
    background-position: -.07em -.142em;
}

.mastercard {
    background-position: -4.756em -.142em;
}

.amex {
    background-position: -9.44em -.142em;
}

.discover {
    background-position: -14.13em -.142em;
}

.paypal {
    background-position: -18.79em -.142em;
}
