// Main navbar
// ==============

.brand-logo {
    @media screen and (max-width: $break-xs) {
       display: none !important;
    }
}

.public-brand {
    margin-left: 6em;
    flex: 1;
}

.public-brand img {
    width: 9.5em;
}

.main-nav {
    z-index: 2;
    .to-hide-nav li {
        display: inline;
    }
}

.public-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    background: $jb-light-blue;
    @extend .z-depth-1;
}

.private-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    background: $jb-dark-grey;
    @extend .z-depth-1;

    a {
        color: $jb-light-blue;
    }

    .card {
        background: $jb-dark-grey;
        color: $jb-light-blue;
    }

    ul li i {
        font-size: 20px;
    }
}

.jillix-logo {
    width: 80px;
    cursor: pointer;
    vertical-align: sub;
    padding-left: 15px;
    @media screen and (max-width: $break-sm) {
        width: 80px;
    }
}

.nav-toggle-btn {
    display: none;
     @media screen and (max-width: $break-sm) {
         display: block;
       }
}

.to-hide-nav {
    @media screen and (max-width: $break-sm) {
        display: none;
    }
}

.small-screen {
    ul {
        padding-left: 0;
        margin-top: 0;
        li {
            text-align: center;
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }
    @media screen and (min-width: $break-sm) {
        display: none;
    }
}

.navbar-container {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
}

.menu-icon {
    width: 40px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 20px;
}

.show {
    display: block;
}

.img-btn {
    display: flex;
    align-items: center;
    height: $navbar-height;
}

nav .octicon {
    padding-left: 5px;
}

.direction-arrow {
    width: 0px;
    height: 0px;
    border-left: 8.5px solid transparent;
    border-right: 8.5px solid transparent;
    border-bottom: 8.5px solid #9da3b9;
    position: absolute;
    top: 56px;
    right: 53px;
}

.direction-arrow-b {
    width: 0px;
    height: 0px;
    border-left: 8.5px solid transparent;
    border-right: 8.5px solid transparent;
    border-bottom: 8.5px solid $jb-dark-grey;
    position: absolute;
    top: 57px;
    right: 53px;
    z-index: 5;
}

.direction-toggle {
    border: 1px solid #ccc;
    position: absolute;
    min-width: 190px;
    right: 40px;
    text-align: left;
    z-index: 4;
    top: 56px;

    li {
        width: 100%;
        line-height: 52px;
    }
}

.dropdown1 {
    transform: scaleY(0) scaleX(1);
    opacity: 0;
    transition: .1s all ease-out;

    &.active {
        transform: scaleY(1) scaleX(1);
        opacity: 100;
    }

    .direction-toggle {
        width: 220px;
        right: 0px;
    }

    .direction-arrow {
        right: 30px;
    }

    .direction-arrow-b {
        right: 30px;;
    }

    .card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.55), 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        border: 0;
    }
}

.mobile-nav {
    @media screen and (min-width: $break-sm) {
        display: none;
    }
}

// Navbar s-1
// =============

$ns1-background: #fcfcfc;
$arrow-angle: 24px;

.navbar-s1:nth-child(1) {
    display: none;
}

.navbar-s1 {
    @include display-flex;
    @include align-items(center);
    background: $jb-medium-blue;
    z-index: 1;
    @extend .z-depth-1;
    color: #444;
    height: 35px;

    a {
        color: $jb-dark-grey;
    }

}

.navbar-s2 {
    @include display-flex;
    @include align-items(center);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    width: 100%;

    background: $jb-medium-blue;
    @extend .z-depth-1;

}
