.page-header {
    @include display-flex;
    @include align-items(center);
    background: $page-header;
    color: white;
    height: 56px;

    h5 {
        margin: 0;
    }
}

.section-content {
    background: #FBFBFB;
    flex: 1;
}

.card-title {
    color: rgba(0, 0, 0, 0.87);
}
