.page-header {
    @include display-flex;
    @include align-items(center);
    background: $page-header;
    color: white;
    height: 56px;

    h5 {
        margin: 0;
    }
}

.section-content {
    background: #FBFBFB;
}

.legend {
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.light-description {
    padding-left: 10px;
    font-size: 15px;
}

.legend-light {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.legend-details {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.12);
    min-width: 85px;
}

.plus-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #3f85ca;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-circle span {
    color: #3f85ca;
}

.new-title {
    color: #3f85ca;
    padding-top: 7px;
    text-align: center;
}
