.page-header {
    @include display-flex;
    @include align-items(center);
    background: $page-header;
    color: white;
    height: 56px;

    h5 {
        margin: 0;
    }
}

#page-content {
    @include display-flex;
    @include flex-direction(column);
    flex: 1;
}

.pages-container {
    @include display-flex;
    @include flex-direction(column);
    flex: 1;
}

.section-content {
    background: $jb-light-blue;
    flex: 1;

    .card {
        background: $jb-light-blue;
    }
}

.card-title {
    color: #555555;
}

.closable-collection {
    .card-title {
        @include display-flex;
        @include justify-content(space-between);
        .octicon-x {
            cursor: pointer;
        }
    }
}

.big-jillix-logo {
    width: 100%;
    max-width: 240px;
}
