body {
    font-family: $regular;
    font-size: $font-size-base;
    color: $text-color;
    margin: 0;
    @include display-flex;
    @include flex-direction(column);
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

// Helpers
// =========
.center-auto {
    margin: 0 auto;
}

.vertical-center {
    @include display-flex;
    @include align-items(center);
}

.pointer {
    cursor: pointer;
}

// Color classes
.jb-dark-grey { background: $jb-dark-grey; }
.j-red { background: $j-red; }
.j-green { background: $j-green; }
.j-blue { background: $j-blue; }
.j-orange { background: $j-orange; }
.j-brown { background: $j-brown; }

.jb-dark-grey-hover { background: $jb-dark-grey; &:hover { background: lighten($jb-dark-grey, 4%) } &:focus { background: lighten($jb-dark-grey, 4%) } }
.j-red-hover { background: $j-red; &:hover { background: lighten($j-red, 4%) } &:focus { background: lighten($j-red, 4%) }}
.j-green-hover { background: $j-green; &:hover { background: lighten($j-green, 4%) } &:focus { background: lighten($j-green, 4%) }}
.j-blue-hover { background: $j-blue; &:hover { background: lighten($j-blue, 4%) } &:focus { background: lighten($j-blue, 4%) }}
.j-orange-hover { background: $j-orange; &:hover { background: lighten($j-orange, 4%) } &:focus { background: lighten($j-orange, 4%) }}
.j-brown-hover { background: $j-brown; &:hover { background: lighten($j-orange, 4%) } &:focus { background: lighten($j-orange, 4%) }}

.j-red-text { color: $j-red !important;}
.j-green-text { color: $j-green !important; }
.j-blue-text { color: $j-blue !important; }
.j-orange-text { color: $j-orange !important; }
.j-brown-text { color: $j-brown !important; }
