body {
    font-family: $regular;
    font-size: $font-size-base;
    color: $text-color;
    margin: 0;
    @include display-flex;
    @include flex-direction(column);
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

// Helpers
// =========
.center-auto {
    margin: 0 auto;
}

.vertical-center {
    @include display-flex;
    @include align-items(center);
}

.pointer {
    cursor: pointer;
}

// Color classes
.j-red { background: $j-red; }
.j-green { background: $j-green; }
.j-blue { background: $j-blue; }
.j-orange { background: $j-orange; }
.j-brown { background: $j-brown; }
